<!-- <div class="main-container">
    <iframe
    width="914"
    height="514"
    title="bahubali"
    frameborder="0"
    allowfullscreen
    ></iframe> -->
  
    <div class="product-container">

        <img src="{{ productlist.image }}" alt="img" class="image" />
        
        
            <p>{{ productlist.name}}</p>
           
       
        
       
        <p>quantity:{{ productlist.quantity }}</p>
        
      
        <p>price:{{productlist.price}}</p>
     </div>    
         
        
        
       
        
   
