<!-- <div class="main-container">
    <iframe
    width="914"
    height="514"
    title="bahubali"
    frameborder="0"
    allowfullscreen
    ></iframe> -->
  
    <div class="product-container">

        <img src="{{ productlist.image }}" alt="img" class="image" />
        
        
            <div class="name-container">
            <p>{{ productlist.name}}</p>
            </div>
       
        
        <div class="details-container">
        <p><b>quantity</b>:{{ productlist.quantity }}</p>
        
      
        <p><b>price</b>:{{productlist.price}}</p>
         </div>
     </div>    
         
        
        
       
        
   
